{% extends "base.html" %}

{% block title %}Зарегистрироваться{% endblock %}

{% load static %}
{% block stylesheets %}
    <link rel="stylesheet" href="{% static 'rcrop/rcrop.min.css' %}">
{% endblock %}

{% block scripts %}
    <script src="{% static 'assets/js/password-view.js' %}"></script>
    <script src="{% static 'rcrop/rcrop.min.js' %}"></script>
    <script src="{% static 'assets/js/input_file_to_drag_area.js' %}"></script>
{% endblock %}

{% block page-title %}Зарегистрироваться{% endblock %}

{% block content %}
{% load common_tags %}

<form method="post" action="{% url 'signup' %}" enctype="multipart/form-data" class="row" id="signupForm">
    {% csrf_token %}
    {% for field in form %}
        {% if forloop.last and not forloop.counter|divisibleby:2 %}
        <div class="col-md-12 mt-2">
        {% else %}
        <div class="col-md-6 mt-2">
        {% endif %}
            <label for="{{ field.id_for_label }}" class="col-form-label col-form-label-sm">
                {{ field.label }}
                {% if field.field.required %}
                    <span class="required">*</span>
                {% endif %}
            </label>

            {% if field.errors %}
                {{ field|addclass:"form-control is-invalid" }}
            {% else %}
                {{ field|addclass:"form-control" }}
            {% endif %}

            {% if field.help_text %}
            <small id="{{ field.id_for_label }}-help" class="form-text text-muted">{{ field.help_text|safe }}</small>
            {% endif %}

            {% if field.errors %}
            <div class="invalid-feedback">
                {{ field.errors|safe }}
            </div>
            {% endif %}
        </div>
    {% endfor %}
    <div class="d-flex col-md-12 mt-3 justify-content-center">              
        <button type="submit" class="btn btn-primary">
            Зарегистрироваться
        </button>
    </div>
</form>

{% endblock %}